@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #03132d;
  color: #fff;
}

.header,
.review_input,
.review_box {
  background: #041a3d;
}

.cards {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* .img__box {
  width: 50%;
} */
